<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="fileshare,copytocopy,shareit,filecopy,filetransfer,mobile to pc">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css">
        <title>Copy to Copy</title>
        <style></style>
    </head>
    <body>
        <header>
            <div class="logo">
                <img id="logo" src='pic/logoimg.svg' alt="" srcset="">
                <img id="logotext" src="pic/logo.svg" alt="" srcset="">
            </div>
        </header>

        <main>
            <div class="user-form">
                <div class="in_box">
                    <div class="form-container" id="registration-form">
                        <form method="post" action="">
                            <input type="text" class="input" id="inputlength" name="username" placeholder="Create the New ID :" pattern=".{8,}" required>
                            <input type="submit" class="input"  name="register" value="Create">
                        </form>
                    </div>
                    <div id="message" >
                        <p id="length" class="invaid" style="color:#003135">minimum 8 characters</p>
                    </div>
                    <div class="form-container" id="login-form">
                        <form method="post" action="">
                            <input type="text" class="input" name="username" placeholder="Recived the ID :" required>
                            <input type="submit" class="input"  name="login" value="Open">
                        </form>
                    </div>
                </div>
                <!-- <div class="echo-container">
                    {% if message %}<div class="echo"><p>{{ message }}</p></div>{% endif %}
                </div> -->
               <div class="wave">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#ffffff" fill-opacity="1" d="M0,128L21.8,128C43.6,128,87,128,131,112C174.5,96,218,64,262,85.3C305.5,107,349,181,393,208C436.4,235,480,213,524,181.3C567.3,149,611,107,655,106.7C698.2,107,742,149,785,154.7C829.1,160,873,128,916,144C960,160,1004,224,1047,240C1090.9,256,1135,224,1178,192C1221.8,160,1265,128,1309,117.3C1352.7,107,1396,117,1418,122.7L1440,128L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"></path>
                </svg>
                </div>
            </div>
            
            <div class="form-container" id="upload-form">
                <form method="post" action="" enctype="multipart/form-data">
                        <div id="hid-content"  >
                            <div class="uploadBox">
                                <label for="input-file" id="drop-area">
                                    <input type="file" name="file" id="input-file" hidden>
                                    <div id="img-view">
                                        <p>Drag and drop or click here <br> to upload File </p>
                                    </div>
                                </label>
                            </div>
                        </div>

                    <div class="btn-container">
                        <button class="Btn" type="submit" value="Upload File" name="upload_file">
                            <i class="bi bi-upload"></i>
                            Upload
                        </button>

                        <button class="Btn" type="button">
                            <i class="bi bi-arrow-clockwise"></i>
                            Refresh
                        </button>

                        <button class="Btn" type="button" id="editBtn" >
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </button>

                        <button class="Btn" type="submit" name="delete" id="deleteBtn">
                            <i class="bi bi-trash"></i>
                            Delete
                        </button>
                        <input type="hidden" name="file_id" id="file_id">
                    </div>
                </form>
            </div>

            <div class="table-container">

                <h2>Uploaded Files</h2>

                <div class="table-wrapper">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th id="name">Filename</th>
                                <th id="filesize">Filesize</th>
                                <th>Filetype</th>
                                <th id="down">Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if uploaded_files %}
                            {% for file in uploaded_files %}
                            <tr data-id="{{ file.id }}" data-filename="{{ file.filename }}">
                                <td class="filename">{{ file.filename }}</td>
                                <td>{{ "%.2f"|format(file.filesize / (1024 * 1024)) }} MB</td>
                                <td class="filetypes">{{ file.filetype }}</td>
                                <td><a href="/download/{{ file.filename | urlencode }}" class="downloadBtn" download>
                                        <span class="button__text">Download</span>
                                        <span class="button__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg">
                                                <path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path>
                                                <path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path>
                                                <path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4">No files uploaded yet.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                {% if user_id %}
                    <div class="logout-box">
                        <a class="logout" href="{{ url_for('logout_page') }}">Logout !</a>
                    </div>
                {% endif %}
            </div>
        </main> 
       
        <footer>
           <div class="footer-container">
                <div class="support" id="Support">
                    <h2>About me</h2>
                    <p >
                        Copy to Copy makes it easy to share files 
                        securely and effortlessly in real time. you 
                        can share a ID to file in your Copy to Copy 
                        cloud storage and control who can view and  
                        edit share files.
                    </p>
                    <ul>
                        <a href="https://policies.google.com/privacy?hl=en-US">Privacy Policy</a>
                        <a href="https://policies.google.com/terms?hl=en-US">Terms & Conditions</a>
                    </ul>
                </div>

                <div class="social-menu">
                    <h2>FOLLOW UP</h2>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/login/">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/accounts/login/">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJteCI6IjIifQ%3D%3D%22%7D">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                            <h2>Contact Us</h2>
                            <button>contact</button>
                            <a href="mailto:copytocopy0@gmail.com">E-mail : copytocopy@gmail.com</a>   
                </div>
           </div>
            <p class="copyrigth">Copyrigth &copy; 2024 Designed by BHARATH</p>
        </footer>

        <script type="text/javascript" src="index.js"></script>
        
    </body>

</html>
